html {box-sizing: border-box;}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	margin:0;
	color:#333;
	font:14px/1.5 Arial, Helvetica, sans-serif;
	background:#fff;
	overflow-y: scroll;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:none;
}
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
	display: block;
}
img {border-style:none;}
a {
	text-decoration:none;
	color:#000;
	outline:none;
}
a:hover {text-decoration:underline;}
input,
textarea,
select {
	font:100% Arial, Helvetica, sans-serif;
	vertical-align:middle;
	color:#000;
}
textarea {
	overflow: auto;
	resize: vertical;
	vertical-align: top;
}
form, fieldset {
	margin:0;
	padding:0;
	border-style:none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	padding:0;
	border:0;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer; 
	*overflow: visible; 
}
input[type="search"] {-webkit-appearance: none;}
input[type="search"]::-webkit-search-cancel-button {-webkit-appearance: none;}
input[type="search"]::-webkit-search-decoration {display:none;}
q {quotes: none;}
q:before,
q:after {
	content: '';
	content: none;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
p {margin: 0 0 1.2em;}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
img{
	display: block;
	width: 100%;
	height: auto;
}
#wrapper{
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.box-anim{
	visibility: hidden;
}
.box-anim.animated{
	visibility: visible;
}